/* =======================================================
GLOBAL STYLES
======================================================= */

:root {

    /* Style Guide-Color */
    --color-green: #54e6af;
    --color-blue950: #121725;
    --color-blue900: #2c344b;
    --color-blue600: #5a668a;
    --color-blue300: #c2cbe5;
    --color-white: #ffffff;
    --color-red: #fb3e3e;

    /* Font Families */
    --font-chivo: "Chivo", sans-serif;

    /* Font Sizes */
    --font-size-xl: 3rem;
    --font-size-sm: 1.125rem;
    --font-size-xs: 0.875rem;
    --font-size-md: 2rem;

    /* Line Heights */
    --line-height-xxl: 200%;
    --line-height-xl: 150%;
    --line-height-lg: 120%;

    /* Font Weights */
    --font-weight-light: 100;
    --font-weight-bold: 600;
}

/* =======================================================
MOBILE STYLES
======================================================= */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    font-family: var(--font-chivo);
    background-image: url(/assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    outline: 1px solid orange;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    margin: 1.25rem;
}

.hero-title {
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-lg);
    font-size: var(--font-size-md);
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
}

span {
    color: var(--color-green);
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}

.podcast-text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-xl);
    color: var(--color-blue300);
    text-align: center;
    margin-bottom: 1.25rem;
}

.podcast-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 1.25rem;
}

#email-input {
    outline: 1px dotted black;
    margin-bottom: 0.3125rem;
    /* background-color: ;
     color: ;
    border: ;
    padding: ;
    font-size: ; */
    border-radius: 30px;
    cursor: pointer;
}

button {
    outline: 1px ridge red;
    font-family: var(--font-chivo);
    background-color: var(--color-green);
    color: var(--color-blue950);
    /* border: ; */
    padding: 10px;
    /* font-size: ; */
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
}


/* =======================================================
TABLET STYLES
======================================================= */
@media (min-width: 500px) {}

/* =======================================================
DESKTOP STYLES
========================================================*/
@media (min-width: 1024px) {}