/* =======================================================
GLOBAL STYLES
======================================================= */

:root {

    /* Style Guide-Color */
    --color-green: #54e6af;
    --color-blue950: #121725;
    --color-blue900: #2c344b;
    --color-blue600: #5a668a;
    --color-blue300: #c2cbe5;
    --color-white: #ffffff;
    --color-red: #fb3e3e;

    /* Font Families */
    --font-chivo: "Chivo", sans-serif;

    /* Font Sizes */
    --font-size-xl: 3rem;
    --font-size-sm: 1.125rem;
    --font-size-xs: 0.875rem;
    --font-size-md: 2rem;

    /* Line Heights */
    --line-height-xxl: 200%;
    --line-height-xl: 150%;
    --line-height-lg: 120%;

    /* Font Weights */
    --font-weight-light: 100;
    --font-weight-bold: 600;
}

/* =======================================================
MOBILE STYLES
======================================================= */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-content: start;
    font-family: var(--font-chivo);
    margin: 0px 20px;
    background-image: url(/assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    margin: 0;
    padding-top: 55px;
}

header {
    padding-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}
/* 
main img {
    display: none;
} */

.hero-title {
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-lg);
    font-size: var(--font-size-md);
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
}

span {
    color: var(--color-green);
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}

.podcast-text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-xl);
    color: var(--color-blue300);
    text-align: center;
    margin-bottom: 1.25rem;
}

.podcast-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 1.25rem;
}

.form-group {
    display: grid;
    justify-items: center;
}

#email-input {
    outline: 1px dotted black;
    margin-bottom: 0.3125rem;
    background-color: var(--color-blue600);
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    border: none;
}

input::placeholder {
    color: var(--color-white);
    opacity: 1;
}

button {
    font-family: var(--font-chivo);
    background-color: var(--color-green);
    color: var(--color-blue950);
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    border: none;
}


/* =======================================================
TABLET STYLES
======================================================= */
@media (min-width: 500px) {

    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        background-image: url(/assets/tablet/image-host.jpg);
        background-size: 75% 100%;
        background-position: right top;
        background-repeat: no-repeat;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    main {
        grid-column: 1 / -1;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto auto;
    }

    .text-content {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .email-form {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .podcast-icons {
        grid-column: 1 / span 2;
        grid-row: 4;
        background-color: yellow;
    }

    .accent-image {
        background-image: url(/assets/desktop/bg-pattern-dots.svg);
        grid-column: 3;
        grid-row: 4;
        width: 125px;
        height: 104px;
    }

}

/* =======================================================
DESKTOP STYLES
========================================================*/
@media (min-width: 1024px) {}