/* =======================================================
GLOBAL STYLES
======================================================= */

:root {

    /* Style Guide-Color */
    --color-green: #54e6af;
    --color-blue950: #121725;
    --color-blue900: #2c344b;
    --color-blue600: #5a668a;
    --color-blue300: #c2cbe5;
    --color-white: #ffffff;
    --color-red: #fb3e3e;

    /* Font Families */
    --font-chivo: "Chivo", sans-serif;

    /* Font Sizes */
    --font-size-xl: 3rem;
    --font-size-sm: 1.125rem;
    --font-size-xs: 0.875rem;
    --font-size-md: 2rem;

    /* Line Heights */
    --line-height-xxl: 200%;
    --line-height-xl: 150%;
    --line-height-lg: 120%;

    /* Font Weights */
    --font-weight-light: 100;
    --font-weight-bold: 600;
}

/* =======================================================
MOBILE STYLES
======================================================= */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-content: start;
    font-family: var(--font-chivo);
    margin: 0px 20px;
    background-image: url(../assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    margin: 0;
}

header {
    padding-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

.hero-title {
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-lg);
    font-size: var(--font-size-md);
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
}

span {
    color: var(--color-green);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.podcast-text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-xl);
    color: var(--color-blue300);
    text-align: center;
    margin-bottom: 1.25rem;
}

.podcast-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 1.25rem;
}

#email-input {
    margin-bottom: 0.3125rem;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
}

input::placeholder {
    color: var(--color-white);
    opacity: 1;
}

button {
    font-family: var(--font-chivo);
    background-color: var(--color-green);
    color: var(--color-blue950);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
}

button:hover {
    background-color: lightgreen;
}

.error-message {
    color: var(--color-red);
}

.email-form.has-error .form-group {
    border: 2px solid var(--color-red);
    padding: 2px;
    background-color: transparent;
}

.email-form.has-error #email-input::placeholder {
    background-color: transparent;
}

.success-message {
    color: var(--color-green);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-top: 1.5rem;
}

/* =======================================================
TABLET STYLES
======================================================= */
@media (min-width: 500px) {

    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        background-image: url(../assets/tablet/image-host.jpg);
        background-size: 490px auto;
        background-position: top right;
        background-repeat: no-repeat;
        background-color: var(--color-blue900);
        min-height: 100vh;
        position: relative;
    }

    body::after {
        content: "";
        position: absolute;
        width: 232px;
        height: 104px;
        background-image: url(../assets/desktop/bg-pattern-dots.svg);
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
        bottom: 36vh;
        z-index: 0;
    }

    header {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        margin: 3.25rem 3.5rem 0 3.5rem;
    }

    main {
        grid-column: 1;
        grid-row: 2;
        background-color: var(--color-blue900);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        margin: 1rem;
        padding: 1rem;
        gap: 1.5rem;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 1rem;
        justify-self: start;
    }

    .hero-title,
    .podcast-text {
        text-align: left;
    }

    .hero-title {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-lg);
        margin-bottom: 24px;
    }

    .podcast-text {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-xl);
        margin-bottom: 40px;
    }

    .email-form {
        grid-row: 2;
        margin-bottom: 2rem;
    }

    .form-group {
        display: flex;
        border-radius: 18px;
        margin: 0;
        background-color: var(--color-blue600);
        width: 427px;
        padding: 10px;
        gap: 10px;
    }

    #email-input {
        flex-grow: 1;
        border: none;
        min-width: 200px;
        margin: 0;
        padding: 0;
        font-size: 0.875rem;
        outline: none;
    }

    #email-input::placeholder {
        color: var(--color-white);
        border: none;
        padding: 10px;
        font-weight: var(--font-weight-bold);
    }

    button {
        font-weight: var(--font-weight-bold);
        flex-shrink: 0;
        width: 162px;
        padding: 9px 0;
    }

    .podcast-icons {
        grid-row: 3;
        margin: 0 0 2.5rem 0;
        display: flex;
        gap: 2rem;
    }

}

/* =======================================================
DESKTOP STYLES
========================================================*/
@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        background-image: url(../assets/desktop/image-host.jpg);
        background-size: 75% auto;
        background-position: top right;
        background-repeat: no-repeat;
        background-color: var(--color-blue900);
        min-height: 100vh;
        position: relative;
    }

    header {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        margin: 3.25rem 3.5rem 0 3.5rem;
    }

    main {
        grid-column: 1 / span 2;
        grid-row: 2;
        background-color: var(--color-blue900);
    }
}